{% extends "base.html" %}
{% block content %}
<div class="container">
  <form id="employee" method="post">
    <div class="modal-header">
      <h5 class="modal-title">Editar Empleado</h5>
      <button type="button" class="close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col mb-3">
          <input class="form-control" placeholder="Nombre" type="text" name="name">
        </div>
        <div class="col mb-3">
          <input class="form-control" placeholder="Apellidos" type="text" name="last_name">
        </div>
      </div>

      <div class="form-row">
        <div class="col-5 mb-3">
          <input class="form-control" placeholder="Fecha Nacimiento" type="date" name="birthday">
        </div>

        <div class="col-7 mb-3 d-flex align-items-center">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" value="" name="gender" id="male">
            <label class="custom-control-label" for="male">Másculino</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" value="" name="gender" id="female">
            <label class="custom-control-label" for="female">Femenino</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col mb-3">
          <input class="form-control" placeholder="Empleado" type="text" name="employee">
        </div>
      </div><div class="form-row">
        <div class="col mb-3">
          <input class="form-control" placeholder="Tipo de Contrato" type="text" name="contract">
        </div>
      </div>

      <div class="form-row">
        <div class="col mb-3">
          <input class="form-control" placeholder="Salario" type="text" name="salary">
        </div>

        <div class="col mb-3">
          <input class="form-control" placeholder="Official ID type" type="text" name="official_identification">
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <input class="form-control" placeholder="ID number" type="text" name="identification_number">
        </div>

    </div>
    <div class="modal-footer">
      <input type="submit" name="commit" id="reset2" value="Guardar" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}
