{% extends "base.html" %}
{% block title %}Index{% endblock %}
<!-- {% block head %} {% endblock %} -->
{% block content %}
<div class="row">
  <div class="jumbotron">
    <h2>
      Bienvenido Usuario
    </h2>
    <p>
      Sistema de manejo de empleados
    </p>
    <p>
      <a class="btn btn-primary btn-large" href="#">Learn mo</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>
        2021-06
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        2021-07
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        2021-08
      </h2>
      <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <p>
        <a class="btn" href="#">View details »</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
